<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.mrtcnylmz.bankingsystem.Repository.UserRepository">

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users(username, email, password, enabled, authorities) VALUES(#{username}, #{email}, #{password}, #{enabled}, #{authorities})
	</insert>
	
	<update id="updateUserEnabledWithId">
		UPDATE users SET enabled = #{enabled} WHERE id = #{id}
	</update>
	
	<select id="selectUserEnabledWithUsername" resultType="boolean" parameterType="String">
		SELECT enabled FROM users WHERE username = #{username}
	</select>
	
	<select id="selectUserEnabledWithId" resultType="boolean" parameterType="int">
		SELECT enabled FROM users WHERE id = #{id}
	</select>

	<select id="selectUserWithId" resultType="User" parameterType="int">
		SELECT * FROM users WHERE id = #{id}
	</select>
	
	<select id="selectUserWithUsername" resultType="User" parameterType="String">
		SELECT * FROM users WHERE username = #{username}
	</select>
	
	<select id="selectUserWithEmail" resultType="User" parameterType="String">
		SELECT * FROM users WHERE email = #{email}
	</select>
	
</mapper> 